.wrapper {
    flex: 1 1 auto;
    width: 45%;
    max-width: 1000px;
    min-width: 300px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    height: 200px;
}

.topBox {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.questionNumber {
    border-radius: 10px;
    height: 50%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.questionText {
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.choiceBox {
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.choice {
    width: 45%;
    height: 45%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 1px 1px black;
}

.correct {
    background: limegreen;
    cursor: pointer;
    transition: all 0.1s linear;
}

.wrong {
    background: rgb(252, 97, 97);
    cursor: not-allowed;
}

@media (hover: hover) {
    .choice.correct:hover {
        transform: scale(1.05);
    }
}
